@import url("https://use.typekit.net/lby8pwm.css");
            
body {
        background-image: url('dnd-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}
           
@font-face {
                font-family: otherCoolFont;
                src: url(Novecentosanswide-Light.otf);
}

h1 {
        color:#ebebeb;
        font-family:"alfarn";
        font-size: 50px;
        text-align: center;
        margin-top: -7px;            
}
            
h2 {
        color:#ebebeb;
        font-family:otherCoolFont;
        font-size: 50px;
        text-align: center;
        margin-top: -225px;  
}

h3 {
        color:#ebebeb;
        font-family:'Times New Roman', Times, serif;
        font-size: 50px;
        text-align: center;
}

h4 {
        color:#ebebeb;
        font-family:otherCoolFont;
        font-size: 50px;
        text-align: center;
        margin-top: 100px
}

#mapPreview {
        display: block;
        margin: 0 auto;
        max-width: 500px;
}
            
.file-upload {
                display: none;
                margin: 0 auto;
                max-width: 500px;
}

.custom-button {
                    padding: 10px 20px;
                    background-color: #c20000;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 30px;
                    text-align: center;
}

form {
        text-align: center;
}
input {
    font-size: 25px;
    margin: 30px;
}
