h1 {
        color:#ebebeb;
        font-family:"alfarn";
        font-size: 50px;
        text-align: center;
        margin-top: -7px;            
}
            
h2 {
        color:#ebebeb;
        font-family:otherCoolFont;
        font-size: 50px;
        text-align: center;
        margin-top: -225px;  
}

h3 {
        color:#ebebeb;
        font-family:'Times New Roman', Times, serif;
        font-size: 50px;
        text-align: center;
}

h4 {
        color:#ebebeb;
        font-family:'Times New Roman', Times, serif;
        font-size: 30px;
        text-align: center;
}

.custom-button {
                    padding: 10px 20px;
                    background-color: #c20000;
                    color: white;
                    border-radius: 20px;
                    cursor: pointer;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 10px;
}
.hidden {
        display: none;
}
