@import url("https://use.typekit.net/lby8pwm.css");
@font-face {
    font-family: otherCoolFont;
    src: url(Novecentosanswide-Light.otf);
}
            
body {
        background-image: url('dnd-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}


.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    margin: 0px 600px;
}

.header {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.content {
    display: flex;
    flex: 1;
}

.title-main {
    color:#ebebeb;
    font-family:"alfarn";
    font-size: 150px;
    text-align: center;
    position:fixed;
    top:0;
    width:45%;     
    z-index: 5;   
}
        
.title-sub {
    color:#ebebeb;
    font-family:otherCoolFont;
    font-size: 125px;
    text-align: center; 
    margin-top: 75px;
    margin-left: 205px;
    position:fixed;
    z-index: 4;
}

.title-tag {
    color:#ebebeb;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

.sidebar {
    width: 200px;
    padding: 1rem;
    margin-top: 150px;
    position:fixed;
    z-index: 3;
}

.sidebar h3 {
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 0.5rem;
    color:#ebebeb;
}

.stage {
    z-index: 0;
    margin-top: 240px;
    margin-left: 230px;
    width: 1000px;
    height: 900px;
}

.main-area {
    z-index: 0;
    margin-top: 240px;
    margin-left: 230px;
    width: 1000px;
    height: 900px;
}

.picture {
    height: 100%;
    width: 100%;
    object-fit:contain;
}